*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container{
    /* width: 100%;
    min-height: 100vh; */
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left,purple,yellow,blue);
    background-size: cover;

}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu{
    width: 25px;
    cursor: pointer;

}
nav{
    flex: 1;
    text-align: right;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #ff5eaf;
}
section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

#home{
    background-image: linear-gradient(to right,red 30%,white 90%, red 30%);
    position: center;
   
    
    
}
.primary_child{
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 100px;
    left: 150px;
   
    
   
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#about{
    background-image: url("./image/gate.jpg");
}
.secondary{
    font-size: 50px;
    padding: 300px 400px;
    
   

}
.home-image{
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/mob.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  #other{
    background-image: url("./image/img2.jpg");
    background-position: center;
  }
  #example1 {
    background-image: url("./image/img.jpg"), url("./image/nature.jpg");
    background-size: 50%,70%;
    

    background-repeat: no-repeat, no-repeat;
    background-position: 0px 0px,1000px 0px;
  }